---
import type { Resume } from '../interfaces/ResumeInterface';
import Layout from '../layouts/Layout.astro';
import { formatDate, formatUrl } from '../utils/formatters';

const response = await fetch(import.meta.env.RESUME_URL);
const resume: Resume = await response.json();
---

<Layout title="Chema Cabeza">
    <section class="flex justify-left flex-col w-full gap-9">
        <article>
            <span class="text-[200px] md:text-[250px]">A</span>
            <p class="md:text-base md:w-3/6">{resume.basics.summary}</p>
        </article>
        <div class="flex flex-row justify-between flex-wrap">
            <article class="flex flex-col gap-5 md:w-[32%] ">
                <span class="text-4xl">Experience</span>
                {resume.work.map(({startDate, endDate, position, name, highlights})=> {
                    return (
                        <span class="font-bold">{formatDate(startDate)} - {formatDate(endDate)}</span>
                        <span class="font-bold">{position}<br>{name}</span>
                        <div class="flex flex-col gap-3">
                            {highlights.map((highlight) => {
                                return (
                                    <ul>
                                        <li>&bull; {highlight}</li>
                                    </ul>
                                )
                            })}
                        </div>
                    )
                })}
            </article>
            <article class="flex flex-col gap-5 md:w-[32%]">
                <span class="text-4xl">Skills</span>
                {resume.skills.map(({name, keywords}) => {
                    return (
                        <span class="font-bold">{name}</span>
                        <div class="flex flex-row gap-2 flex-wrap">
                        {keywords.map((keyword, index) => {
                            return index < keywords.length-1 ? (
                                <span>{keyword}</span>     
                                <span>//</span>                         
                            ) : <span>{keyword}</span>                                   
                        })}
                        </div>
                    )
                })}
            </article>
            <article class="flex flex-col gap-5 md:w-[32%]">
                <span class="text-4xl">Education</span>
                {resume.education.map(({startDate, endDate, institution, studyType, url }) => {
                    return (
                        <span class="font-bold">{formatDate(startDate)} - {formatDate(endDate)}</span>
                        <span class="font-bold">{institution}</span>
                        <span>{studyType}</span>
                        <a href={url} target="_blank">{formatUrl(url)}</a>
                    )
                })}
            </article>
        </div>
    </section>
</Layout>